.module-tuileMemories {
    margin-left: 0px;
    position: relative;
    width: 100%;
    max-width: 300px; /* Limite la largeur à 300px */
    height: auto;
}

.module-tuileMemories-image {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.module-tuileMemories-image:hover {
    width: 100%;
    height: 160px;
}

.module-tuileMemories-nouveau {
    background-color: #E85D00;
    color: white;
    font-family: var(--page-title-font-family);
    font-size: 0.9rem;
    padding: 4px 10px 2px 10px;
    width: fit-content;
}

.module-tuileMemories-titres {
    margin-top: 10px;
    font-family: var(--page-title-font-family);
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
}

.module-tuileMemories-titre {
    margin-right: 10px; /* Espacement entre le titre et la date */
}

.module-tuileMemories-date {
    font-family: var(--page-title-font-family); /* Optionnel : appliquez le style de la police */
    text-align: right; /* Alignement du texte à droite */
    white-space: nowrap; /* Empêche le retour à la ligne */
    overflow: hidden; /* Cache le texte débordant */
    text-overflow: ellipsis; /* Affiche "..." si le texte dépasse */
}

.module-tuilesMemories-description {
    margin-top: 8px;
    font-family: var(--page-subtitle-font-family);
    font-size: 0.8rem;
    color: #999999;
}
